
@{
}
<div class="header-right">
    <input id="site-search"
           class="search-input"
           type="search"
           name="q"
           placeholder="Search anything"
           aria-label="Sök" />
    <span class="search-input--btn">
        <button class="round-btn"><img class="icon-withe" src=" ~/images/icons/MagnifyingGlass.svg" asp-append-version="true" alt="dashboard icon" class="nav-icon" /></button>
    </span>
    <button class="round-btn"><img class="icon-withe" src=" ~/images/icons/Bell.svg" asp-append-version="true" alt="dashboard icon" class="nav-icon" /></button>
    <button class="round-btn"><img class="icon-withe" src="~/images/icons/GearSix.svg" asp-append-version="true" alt="dashboard icon" class="nav-icon" /></button>
    <img class="avatar" src="~/img/avatar.jpg" alt="Orlando Laurentius" />
    <span class="user-meta">
        <h3>Orlando Laurentius</h3>
        <p class="user-meta">Admin</p>
    </span>
</div>
