@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font: "Inter", sans-serif;
    /* ---------- Secondary ---------- */
    --secondary-110: #1C2346;
    --secondary-100: #37437D;
    --secondary-90: #5562A2;
    --secondary-70: #707DBF;
    --secondary-60: #ABB4DD;
    --secondary-50: #D3DAF9;
    /* ---------- Primary ---------- */
    --primary-100: #F26CF9;
    --primary-90: #F589FA;
    --primary-90-rgb: 245, 137, 250;
    --primary-50: #FCD3FE;
    --primary-40: #FCE2FE;
    --primary-30: #FDEDFE;
    /* ---------- Yellow ---------- */
    --yellow-100: #FFCA39;
    --yellow-90: #FFEFC3;
    /* ---------- Greys ---------- */
    --grey-10: #FFFFFF;
    --grey-20: #F7F7F7;
    --grey-30: #EDEDED;
    --grey-40: #E0E0E1;
    --grey-50: #C3C3C4;
    --grey-60: #9F9FA1;
    --grey-70: #777779;
    --grey-80: #636365;
    --grey-90: #434345;
    --grey-100: #1E1E20;
    /* ---------- Cool Greys ---------- */
    --cool-grey-10: #EEEFFF;
    --cool-grey-20: #E4E5F5;
    --cool-grey-30: #DDDEED;
    --cool-grey-40: #D1D2E0;
    --cool-grey-50: #B0B1BD;
    --cool-grey-60: #8F8F99;
    --cool-grey-70: #72737A;
    --cool-grey-80: #56565C;
    --cool-grey-90: #39393D;
    --cool-grey-100: #131314;
    /*----------- Variables ------------*/
    --headline-color: var(--secondary-100);
    --text-color: var(--gray-100);
    --text-muted-color: var(--gray-60);
    --background-color: var(--gray-10);
    --nav-background-color: var(--cool-gray-20);
    --header-background-color: var( --gray-20);
    --main-background-color: var( --gray-20);
    --footer-background-color: var( --gray-20);
    --section-background-color: var(--gray-20);
    --border-color: var(--gray-40);
    --separator-border-color: var(--gray-40);
    --separator-text-color: var(--gray-60);
    --separator-background-color: var(--gray-10);
    --link-color: var(--primary-100);
    --link-hover-color: var(--primary-90);
    --card-background-color: var(--gray-10);
    --card-border-color: var(--gray-20);
    --button-text-color: var(--gray-90);
    --button-border-color: transparent;
    --button-background-color: transparent;
    --button-hover-text-color: var(--gray-90);
    --button-hover-border-color: transparent;
    --button-hover-background-color: transparent;
    --button-link-text-color: var(--primary-100);
    --button-link-border-color: transparent;
    --button-link-background-color: transparent;
    --button-link-hover-text-color: var(--primary-100);
    --button-link-hover-border-color: transparent;
    --button-link-hover-background-color: transparent;
    --button-primary-text-color: var(--gray-10);
    --button-primary-border-color: var(--primary-100);
    --button-primary-background-color: var(--primary-100);
    --button-primary-hover-text-color: var(--gray-10);
    --button-primary-hover-border-color: var(--primary-90);
    --button-primary-hover-background-color: var(--primary-90);
    --button-secondary-text-color: var(--secondary-100);
    --button-secondary-border-color: var(--cool-gray-10);
    --button-secondary-background-color: var(--cool-gray-10);
    --button-outline-text-color: var(--gray-90);
    --button-outline-border-color: var(--gray-30);
    --button-outline-background-color: transparent;
    --input-background-color: var(--gray-10);
    --input-border-color: var(--gray-40);
    --input-border-focus-color: var(--primary-50);
    --input-text-color: var(--gray-100);
    --input-placeholder-color: var(--gray-50);
    --checkbox-background-color: var(--gray-10);
    --checkbox-border-color: var(--gray-40);
    --checkbox-checked-background-color: var(--primary-100);
    --checkbox-checked-border-color: var(--primary-100);
    --checkbox-checked-text-color: var(--gray-10);

    --booking-status-title-text-color: #858585;
    --booking-status-icon-color: var(--primary-100);
    --booking-status-stat-text-color: var(--secondary-100);

    --table-cell-reference-text-color: var(--grey-70);
    --table-cell-header-text-color: var(--grey-70);
    --table-cell-header-text-hover-color: var(--secondary-100);
    --table-cell-sub-text-color: var(--grey-70);
    --table-cell-category-text-color: var(--secondary-100);
    --table-category-background-color: var(--grey-30);
    --table-row-border-color: var(--grey-30);

    --booking-status-pending-text-color: var(--secondary-100);
    --booking-status-pending-background-color: var(--cool-grey-10);
    --booking-status-confirmed-text-color: var(--primary-100);
    --booking-status-confirmed-background-color: rgba(var(--primary-90-rgb), 0.24);
    --booking-status-cancelled-text-color: var(--grey-80);
    --booking-status-cancelled-background-color: var(--cool-grey-20);

    --segmented-control-color: var(--cool-grey-10);
    --segmented-control-text-color: var(--grey-90);
    --segmented-control-selected-color: var(--primary-100);
    --segmented-control-selected-text-color: var(--grey-10);
    __segmented-control-hover-text-color: var(--cool-grey-10);
    --segmented-control-hover-text-color: var(--secondary-100);

    --custom-select-color: var(--cool-grey-10);
    --custom-select-text-color: var(--secondary-100);
    --custom-select-hover-color: var(--secondary-100);
    --custom-select-hover-text-color: var(--cool-grey-10);
    --custom-select-active-color: var(--primary-100);
    --custom-select-active-text-color: var(--cool-grey-10);
}

html, body {
    font-size: 0.875em;
    font-family: var(--font);
    color: var(--text-color);
}

h1, h2, h3, ul, ol, p {
    margin: 0;
    padding: 0;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.header-container {
    align-items: center;
    background: #F7F7F7;
    border-radius: 10px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 1em 2em;
}

.header-right {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.search-input {
    background-color: var(--grey-10);
    background-image: url('../images/icons/MagnifyingGlass.svg');
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 1em;
    border: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 1rem;
    min-width: 20em;
    padding: 0.5em 2.5em 0.5em 0.75em;
}

.search-input--btn {
    display: none;
}

.avatar {
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    width: 40px;
}

.user-meta h3 {
    font-size: 1rem;
}

.user-meta p {
    color: #666;
    font-size: 0.875rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

main {
    background-color: var(--grey-20);
    border-radius: 10px;
    padding: 2em;
}

    main:has(#login),
    main:has(#signup) {
        background-color: transparent;
        border: 1px solid var(--cool-grey-40);
        border-radius: 30px;
    }

.page-grid {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

.sidebar {
    background: var(--cool-grey-10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.container {
    display: grid;
    grid-template-rows: 7em 1fr;
    row-gap: 1rem;
}

.nav-link-logga {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 2rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
}

.nav-link {
    align-items: center;
    border-left: 4px solid transparent;
    color: var(--secondary-110);
    display: flex;
    padding: 1rem 2rem;
}

    .nav-link:hover {
        border-left: 4px solid var(--primary-90);
        font-weight: bold;
        filter: brightness(0) saturate(100%) invert(81%) sepia(57%) saturate(1000%) hue-rotate(265deg) brightness(0.90) contrast(101%);
    }

nav-link span {
    display: inline-block;
}

.nav-icon {
    filter: brightness(0) saturate(100%);
    height: 1.75em;
    margin-right: 0.5em;
    transition: filter .3s ease;
    width: 1.75em;
}

.icon-withe {
    filter: brightness(0) invert(1);
    height: 1.5em;
    width: 1.5em;
}

.round-btn {
    align-items: center;
    background-color: var(--secondary-100);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

.card {
    background-color: var(--card-background-color);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
}

    .card .card-header {
        padding: 1rem 2rem 1.5rem;
    }

    .card .card-body {
        padding: 1rem 2rem;
    }

    .card .card-footer {
        padding: 2rem 2rem 1rem;
    }

.additional-info {
    padding: 0 1rem;
    font-size: 0.9em;
    color: var(--text-muted-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

    .additional-info.center {
        justify-content: center;
    }

    .additional-info.right {
        justify-content: flex-end;
    }

.btn {
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background-color);
    transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    border-radius: 25px;
    padding: 0.9rem 1.5rem;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

    .btn:hover {
        text-decoration: none;
        color: var(--button-text-color);
        border: 1px solid var(--button-border-color);
        background-color: var(--button-background-color);
        transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    }

.btn-primary {
    color: var(--button-primary-text-color);
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-background-color);
}

    .btn-primary:hover {
        color: var(--button-primary-hover-text-color);
        border: 1px solid var(--button-primary-hover-border-color);
        background-color: var(--button-primary-hover-background-color);
        transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    }

.form-group {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

    .form-group .additional-info {
        font-size: 0.7em;
    }

.form-label {
    font-size: 1em;
    margin-left: 1.5rem;
}

.form-input {
    border-radius: 25px;
    padding: 0.8rem 1.5rem;
    width: 100%;
    outline: none;
    color: var(--input-text-color);
    border: 1px solid var(--cool-grey-50);
    background-color: var(--input-background-color);
    font-size: 1em;
}

    .form-input::placeholder {
        color: var(--input-placeholder-color);
        font-size: 0.9em;
    }

    .form-input:focus {
        border-color: var(--input-border-focus-color);
    }

form button[type="submit"] {
    width: 100%;
    margin: 1rem 0;
}

.checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0.5rem 0 0;
    color: var(--text-muted-color);
}

    .checkbox .form-label {
        font-size: 0.8em;
        text-align: left;
        margin: 0;
        padding: 0;
    }

.form-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin: 0;
}

    .form-checkbox input {
        opacity: 0;
        position: absolute;
        cursor: pointer;
    }

    .form-checkbox .checkmark {
        height: 30px;
        width: 30px;
        background-color: var(--checkbox-checked-text-color);
        border-radius: 10px;
        border: 2px solid var(--checkbox-border-color);
        display: inline-block;
        margin-right: 1rem;
        position: relative;
        transition: background-color 0.2s, border-color 0.2s;
    }

    .form-checkbox input:checked ~ .checkmark {
        background-color: var(--checkbox-checked-background-color);
        border-color: var(--checkbox-checked-border-color);
    }

    .form-checkbox .checkmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    .form-checkbox input:checked ~ .checkmark::after {
        display: block;
        left: 9px;
        top: 4px;
        width: 8px;
        height: 16px;
        border: solid var(--checkbox-checked-text-color);
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

.verification-code-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.verification-code-input {
    font-size: 2em;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 12px;
    outline: none;
    color: var(--input-text-color);
    border: 1px solid var(--cool-grey-50);
    background-color: var(--input-background-color);
}

#login {
    width: 600px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
}

    #login.card .card-body {
        padding: 0 3rem;
        /*background-color: white;*/
    }

    #login .additional-info {
        color: var(--cool-grey-50);
        text-align: center;
        font-size: 14px;
    }

#signup {
    width: 600px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
}

    #signup .additional-info {
        color: var(--cool-grey-50);
        text-align: center;
        font-size: 14px;
    }

    #signup.card .card-body {
        padding: 0 3rem;
    }

.logo-form {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40px;
    height: auto;
}

/*Invoice*/
.invoice-container {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.invoice-wrapper {
    row-gap: 2rem;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.invoicestatus-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

    .invoicestatus-container div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--grey-10);
        padding: 0.5rem
    }

.invoice-status p {
    color: #858585;
}

.invoice-status h6 {
    color: var(--secondary-100);
    font-weight: bold;
    font-size: 20px;
    margin: 0.5em 0;
}

.invoice-search {
    display: flex;
    justify-content: space-between;
}

    .invoice-search .search-input {
        background-color: var(--grey-20);
        min-width: auto;
    }

    .invoice-search .primary-btn {
        background-color: var( --button-primary-border-color);
        border-radius: 45%;
        color: var(--grey-10);
        padding: 0 2em;
    }

#invoice-list {
    border-radius: 10px;
    background-color: var(--grey-10);
    list-style: none;
    padding: 1.5rem
}

.invoice-list h2 {
    margin-bottom: 1em;
}

.invoice-list-item {
    border-radius: 10px;
    background-color: var(--grey-20);
    margin: 1em 0;
}

.invoice-button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    width: 100%;
}

    .invoice-button:active {
        border: 1px solid var(--primary-100);
        border-radius: 10px
    }

    .invoice-button h3 {
        font-size: 16px;
    }

.invoice-list-date {
    color: var(--grey-100);
    font-size: 12px;
    margin-top: 0.5rem;
}

.invoice-list-status {
    background-color: var(--secondary-90);
    border-radius: 8px;
    color: var(--grey-10);
    margin-top: 0.5rem;
    padding: 0.25rem 0.75rem;
}

.invoice-details-container {
    border-radius: 10px;
    background-color: var(--grey-10);
    padding: 1rem;
}

    .invoice-details-container h2 {
        margin-bottom: 1em;
    }

    .invoice-details-container .transparant {
        border-radius: 10px;
        background-color: var(--grey-20);
        padding: 2em;
    }

.invoice-details {
    border-radius: 10px;
    background-color: var(--grey-10);
    padding: 4em 2em;
    border-top: 4px solid var(--primary-100)
}

.invoice-details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.invoice-details-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .invoice-details-body p {
        color: var(--grey-60);
    }

.invoice-details-ticets {
    border: 1px solid var(--grey-30);
    border-radius: 8px;
    margin-top: 2em;
    padding: 1em 2em;
}

/*E-Voucher*/

.evoucher-container {
    display: grid;
    gap: 2em;
}
.evoucher-wrapper {
    background-color: var(--grey-10);
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}
.evoucher-ticker {
    background: var(--cool-grey-20);
    display:flex;
    height: 100px;
}
.evoucher-tickerEvent {
    border-right: 3px dashed var(--grey-10);
    padding:0.5em;
}
.evoucher-tickerInfo {
    border-right: 3px dashed var(--grey-10);
    padding: 0.5em;
    width:30%;
}
.evoucher-tickerScan {
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
    .evoucher-tickerScan p{
        text-align:center;
    }
    .evoucher-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .evoucher-info .evoucher-infoItem {
        display: grid;
        gap: 1em;
    }

.evoucher-wrapper h3{
    padding:1em 0;

}

.evoucher-scheduleList {
    list-style: none;
}

.evoucher-scheduleList-Item {
    background-color: var(--grey-20);
    border-radius: 10px;
    padding: 1em 2em;
    margin-bottom: 0.5em;
}

.evoucher-conditionsList {
    margin-left: 1em;
}

    .evoucher-conditionsList li {
        margin-top: 1.5em;
    }

.evoucher-conditionsUnderList {
    margin-left: 2em;
}

    .evoucher-conditionsUnderList li {
        margin-top: 0.5em;
    }

.evoucher-boldtext {
    font-size: 12px;
    font-weight: bold;
}

.evoucher-legendList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .evoucher-legendList ul {
        list-style: none;
    }

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

/*Delvis AI-genererad kod*/
.spinner {
    width: 40px;
    height: 40px;
    border: 4px var(--primary-50);
    border-top: 4px solid var(--primary-90);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    padding: 20px;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .nav-link span {
        display: none;
    }

    .nav-link-logga h1 {
        display: none;
    }

    .search-input {
        display: none;
    }

    .search-input--btn {
        display: inline-block;
    }

}

/*Bookings*/

.bookingstatus-container {
    display:flex;
    margin-bottom: 24px;
    gap: 12px;
}

.bookingstatus-card {
    background-color: var(--grey-10);
    border-radius: 1rem;
    padding: 1.5rem;
    display: grid;
}

.bookingstatus-icon {
    background-color: var(--booking-status-icon-color);
    color: var(--grey-10);
    width: 44px;
    height: 44px;
    padding: 11px;
    border-radius: 50%;
    grid-area: icon;
}

.bookingstatus-dots {
    grid-area: dots;
    color: var(--grey-90);
}

.bookingstatus-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    grid-area: status;
}

.bookingstatus-title {
    color: var(--booking-status-title-text-color);
}

.bookingstatus-card h6 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: var(--booking-status-stat-text-color);
}

.bookingtable-container {
    width: 100%;
    background-color: var(--grey-10);
    border-radius: 1rem;
    padding: 1.5rem;
}

.bookingtable-container table {
    width: 100%;
    border-collapse: collapse;
}

.bookingtable-header {
    display: flex;
    justify-content: space-between;
}

.booking-options {
    display: flex;
    gap: 10px;
}

.bookingtable th {
    color: var(--table-cell-header-text-color);
    font-weight: normal;
    text-align: start;
    padding: 14px 4px;
    border-bottom: 1px solid var(--grey-30);
}

            .bookingtable th:hover {
                color: var(--table-cell-header-text-hover-color);
                transition: color 0.1s ease-in-out;
                cursor: pointer;
            }

.bookingtable .price-col,
.bookingtable .qty-col,
.bookingtable .amount-col {
    text-align: center;
}

.tableheader-col {
    display: flex;
}

.price-col .tableheader-col,
.qty-col .tableheader-col,
.amount-col .tableheader-col {
    justify-content: center;
}

.bookingtable td {
    padding: 12px 4px;
    border-bottom: 1px solid var(--grey-30);
}

.cell-subrow {
    color: var(--table-cell-sub-text-color);
}

.cell-reference {
    color: var(--table-cell-reference-text-color);
}

.bookingticket-category {
    padding: 2px 8px 2px 6px;
    background-color: var(--table-category-background-color);
    border-radius: 24px;
    gap: 4px;
    display: inline-flex;  
    align-items: center;
}

.category-dot {
    background-color: var(--primary-100);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.category-name {
    color: var(--table-cell-category-text-color);
}

.bookingtable-multi-cell {
    display: inline-flex;
    flex-direction: column;
    gap: 2px;
}

.ticketprice-qty {
    padding-left: 6px;
    padding-right: 6px;
    gap: 4px;
    display: inline-flex;
}

.bookingstatus-cell {
    padding: 4px 10px;
    border-radius: 24px;
    align-items: center;
    display: inline;
}

.bookingstatus-confirmed {
    background-color: var(--booking-status-confirmed-background-color);
    color: var(--booking-status-confirmed-text-color);
}

.bookingstatus-cancelled {
    background-color: var(--booking-status-cancelled-background-color);
    color: var(--booking-status-cancelled-text-color);
}

.bookingstatus-pending {
    background-color: var(--booking-status-pending-background-color);
    color: var(--booking-status-pending-text-color);
}

.segmented-control {
    display: inline-flex;
    border-radius: 1rem;
    overflow: hidden;
    gap: 2px;
    background-color: var(--segmented-control-color);
}

.segmented-control input[type="radio"] {
    display: none;
}

    .segmented-control label {
        align-self: center;
        border-radius: 1rem;
        font-size: 10px;
        padding-top: 9px;
        padding-bottom: 9px;
        cursor: pointer;
        background: #f0f0f0;
        user-select: none;
        transition: background 0.3s;
        display: 
    }


    .segmented-control label:hover {
        color: var(--segmented-control-hover-text-color);
    }

    .segmented-control input[type="radio"]:checked + label {
        background: var(--segmented-control-selected-color);
        color: var(--segmented-control-selected-text-color);
    }

    label[for="status-segment-all"] {
        padding-left: 26px;
        padding-right: 26px;
    }

    label[for="status-segment-confirmed"],
    label[for="status-segment-pending"] {
        padding-left: 18px;
        padding-right: 2px;
    }

    label[for="status-segment-cancelled"] {
        padding-left: 18px;
        padding-right: 18px;
    }

.segmented-control:has(#status-segment-confirmed:checked) label[for="status-segment-confirmed"] {
    padding-right: 18px;
}

.segmented-control:has(#status-segment-pending:checked) label[for="status-segment-pending"] {
    padding-right: 18px;
}

.segmented-control:has(#status-segment-confirmed:checked) label[for="status-segment-pending"] {
    padding-left: 2px;
}

.segmented-control:has(#status-segment-pending:checked) label[for="status-segment-cancelled"] {
    padding-left: 2px;
}

/* Custom Select */ 

.custom-select {
    align-self: center;
    font-size: 10px;
    position: relative;
}

.custom-select-selected {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
    border-radius: 1rem;
    background-color: var(--custom-select-color);
    color: var(--custom-select-text-color);
    padding: 6px 8px 6px 10px;
    cursor: pointer;
    user-select: none;
}

    .custom-select-selected:hover {
        background-color: var(--custom-select-hover-color);
        color: var(--custom-select-hover-text-color);
    }

    .custom-select-selected.custom-select-active {
        background-color: var(--custom-select-active-color);
        color: var(--custom-select-active-text-color);
    }
    .custom-select-selected.custom-select-active + .custom-select-options {
        display: block;
    }

.custom-select-options {
    border-radius: 1rem;
    position: absolute;
    background-color: var(--custom-select-color);
    border-top: none;
    min-width: 100%;
    width: auto;
    max-height: 150px;
    overflow-y: auto;
    z-index: 999;
    list-style-type: none;
}

    .custom-select-options li {
        padding: 10px;
        border-bottom: 1px solid var(--cool-grey-30);
        cursor: pointer;
    }

        .custom-select-options li:hover {
            background-color: var(--custom-select-hover-color);
            color: var(--custom-select-hover-text-color);
        }

.custom-select-hide {
    display: none;
}




@media screen and (max-width: 768px) {
    .bookingstatus-container {
        flex-direction: column;
    }

    .bookingstatus-card {
        display: grid;
        grid-template-areas:
            "icon status dots";
        grid-template-columns: auto 1fr auto;
        gap: 16px;
        width: 100%;
        align-items: center;
    }

    .bookingtable-container {
        overflow-x: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 769px) {
    .bookingstatus-card {
        display: grid;
        grid-template-areas:
            "icon dots"
            "status status";
        grid-template-columns: 1fr auto;
        grid-auto-rows: auto auto;
        gap: 16px;
        width: 178px;
        align-items: center;
    }

    .bookingstatus-container {
        flex-direction: row;
    }

    .bookingtable-container {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1024px) {
    .bookingtable-container table {
        font-size: 11px;
    }

    .cell-subrow {
        font-size: 10px;
    }

    .name-col,
    .category-col,
    .name-col,
    .price-col,
    .qty-col,
    .voucher-col,
    .invoice-desktop-col {
        display: none;
    }

    .ticket-col,
    .invoice-mobile-col {
        display: table-cell;
    }
}

@media screen and (min-width: 1025px) {
    .bookingtable-container table {
        font-size: 12px;
    }

    .cell-subrow {
        font-size: 11px;
    }

    .name-col,
    .category-col,
    .name-col,
    .price-col,
    .qty-col,
    .voucher-col,
    .invoice-desktop-col {
        display: table-cell;
    }

    .ticket-col,
    .invoice-mobile-col {
        display: none;
    }

    .bookingstatus-container {
        flex-direction: row;
    }


}