@using Frontend.Stores

@{
    var user = UserStore.CurrentUser;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Frontend.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="page-grid">
        <partial name="Partials/_SidebarPartial" />

        <div class="container">
            <header class="header-container">
                <div>
                    <h1>@ViewData["Title"]</h1>
                    @if(user != null)
                    {
                        <p>Hello @user.FirstName, welcome back!</p>
                    }
                    else
                    {
                        <p>Hello Guest, welcome back!</p>
                    }
                </div>
                <partial name="Partials/_HeaderToolbar" />
            </header>

            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
