@{
    ViewData["Title"] = "Bookings";
}

<div class="booking-container">
    <section class="bookingstatus-container">
        <div class="bookingstatus-item">
            <p>Total Bookings</p>
            <h6>55,000</h6>
        </div>
        <div class="bookingstatus-item">
            <p>Total Bookings</p>
            <h6>45,000</h6>
        </div>
        <div class="bookingstatus-item">
            <p>Total Bookings</p>
            <h6>$275,450</h6>
        </div>
    </section>
    <section class="booking-wrapper">
        <header>
            <nav></nav>
        </header>
        <div class="booking-list">

        </div>

    </section>
</div>