@{
    ViewData["Title"] = "Bookings";
}

<div class="booking-container">
    <header class="bookingstatus-container">
        <div class="bookingstatus-card">
            <div class="bookingstatus-icon">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9375 8.9375C20.1198 8.9375 20.2947 8.86507 20.4236 8.73614C20.5526 8.6072 20.625 8.43234 20.625 8.25V5.5C20.625 5.13533 20.4801 4.78559 20.2223 4.52773C19.9644 4.26987 19.6147 4.125 19.25 4.125H2.75C2.38533 4.125 2.03559 4.26987 1.77773 4.52773C1.51987 4.78559 1.375 5.13533 1.375 5.5V8.25C1.375 8.43234 1.44743 8.6072 1.57636 8.73614C1.7053 8.86507 1.88016 8.9375 2.0625 8.9375C2.60951 8.9375 3.13411 9.1548 3.52091 9.54159C3.9077 9.92839 4.125 10.453 4.125 11C4.125 11.547 3.9077 12.0716 3.52091 12.4584C3.13411 12.8452 2.60951 13.0625 2.0625 13.0625C1.88016 13.0625 1.7053 13.1349 1.57636 13.2639C1.44743 13.3928 1.375 13.5677 1.375 13.75V16.5C1.375 16.8647 1.51987 17.2144 1.77773 17.4723C2.03559 17.7301 2.38533 17.875 2.75 17.875H19.25C19.6147 17.875 19.9644 17.7301 20.2223 17.4723C20.4801 17.2144 20.625 16.8647 20.625 16.5V13.75C20.625 13.5677 20.5526 13.3928 20.4236 13.2639C20.2947 13.1349 20.1198 13.0625 19.9375 13.0625C19.3905 13.0625 18.8659 12.8452 18.4791 12.4584C18.0923 12.0716 17.875 11.547 17.875 11C17.875 10.453 18.0923 9.92839 18.4791 9.54159C18.8659 9.1548 19.3905 8.9375 19.9375 8.9375ZM2.75 14.3687C3.52707 14.211 4.2257 13.7894 4.72751 13.1754C5.22932 12.5615 5.50345 11.7929 5.50345 11C5.50345 10.2071 5.22932 9.43852 4.72751 8.82457C4.2257 8.21063 3.52707 7.78904 2.75 7.63125V5.5H7.5625V16.5H2.75V14.3687ZM19.25 14.3687V16.5H8.9375V5.5H19.25V7.63125C18.4729 7.78904 17.7743 8.21063 17.2725 8.82457C16.7707 9.43852 16.4966 10.2071 16.4966 11C16.4966 11.7929 16.7707 12.5615 17.2725 13.1754C17.7743 13.7894 18.4729 14.211 19.25 14.3687Z" fill="white" />
                </svg>
            </div>
            <div class="bookingstatus-dots">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.375 12C11.375 12.6213 11.8787 13.125 12.5 13.125C13.1213 13.125 13.625 12.6213 13.625 12C13.625 11.3787 13.1213 10.875 12.5 10.875C11.8787 10.875 11.375 11.3787 11.375 12Z" fill="#434345" />
                    <path d="M11.375 18C11.375 18.6213 11.8787 19.125 12.5 19.125C13.1213 19.125 13.625 18.6213 13.625 18C13.625 17.3787 13.1213 16.875 12.5 16.875C11.8787 16.875 11.375 17.3787 11.375 18Z" fill="#434345" />
                    <path d="M11.375 6C11.375 6.62132 11.8787 7.125 12.5 7.125C13.1213 7.125 13.625 6.62132 13.625 6C13.625 5.37868 13.1213 4.875 12.5 4.875C11.8787 4.875 11.375 5.37868 11.375 6Z" fill="#434345" />
                </svg>
            </div>
            <div class="bookingstatus-body">
                <div class="bookingstatus-title">Total Bookings</div>
                <h6 class="bookingstatus-stats">55,000</h6>
            </div>
        </div>
        <div class="bookingstatus-card">
            <div class="bookingstatus-icon">
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7572 8.45109C15.8211 8.51494 15.8718 8.59077 15.9064 8.67423C15.941 8.75769 15.9588 8.84715 15.9588 8.9375C15.9588 9.02785 15.941 9.11731 15.9064 9.20077C15.8718 9.28423 15.8211 9.36006 15.7572 9.42391L10.9447 14.2364C10.8808 14.3003 10.805 14.351 10.7215 14.3856C10.6381 14.4202 10.5486 14.438 10.4583 14.438C10.3679 14.438 10.2784 14.4202 10.195 14.3856C10.1115 14.351 10.0357 14.3003 9.97185 14.2364L7.90935 12.1739C7.78035 12.0449 7.70787 11.8699 7.70787 11.6875C7.70787 11.5051 7.78035 11.3301 7.90935 11.2011C8.03835 11.0721 8.21332 10.9996 8.39576 10.9996C8.57819 10.9996 8.75316 11.0721 8.88216 11.2011L10.4583 12.778L14.7843 8.45109C14.8482 8.38717 14.924 8.33646 15.0075 8.30187C15.0909 8.26727 15.1804 8.24946 15.2708 8.24946C15.3611 8.24946 15.4506 8.26727 15.534 8.30187C15.6175 8.33646 15.6933 8.38717 15.7572 8.45109ZM20.7708 11C20.7708 12.7677 20.2466 14.4956 19.2645 15.9654C18.2825 17.4352 16.8866 18.5807 15.2535 19.2572C13.6204 19.9336 11.8233 20.1106 10.0896 19.7658C8.35593 19.4209 6.76342 18.5697 5.51349 17.3198C4.26356 16.0698 3.41234 14.4773 3.06749 12.7436C2.72263 11.0099 2.89962 9.21288 3.57608 7.57977C4.25254 5.94665 5.39808 4.55081 6.86785 3.56874C8.33761 2.58668 10.0656 2.0625 11.8333 2.0625C14.2029 2.065 16.4747 3.00743 18.1503 4.683C19.8258 6.35856 20.7683 8.6304 20.7708 11ZM19.3958 11C19.3958 9.50428 18.9522 8.04215 18.1212 6.7985C17.2903 5.55485 16.1092 4.58555 14.7273 4.01316C13.3454 3.44077 11.8249 3.29101 10.3579 3.58281C8.8909 3.87461 7.5434 4.59487 6.48576 5.65251C5.42813 6.71014 4.70787 8.05765 4.41607 9.52463C4.12427 10.9916 4.27403 12.5122 4.84642 13.894C5.4188 15.2759 6.38811 16.457 7.63176 17.288C8.8754 18.119 10.3375 18.5625 11.8333 18.5625C13.8383 18.5602 15.7605 17.7627 17.1782 16.345C18.596 14.9272 19.3935 13.005 19.3958 11Z" fill="white" />
                </svg>
            </div>
            <div class="bookingstatus-dots">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.375 12C11.375 12.6213 11.8787 13.125 12.5 13.125C13.1213 13.125 13.625 12.6213 13.625 12C13.625 11.3787 13.1213 10.875 12.5 10.875C11.8787 10.875 11.375 11.3787 11.375 12Z" fill="#434345" />
                    <path d="M11.375 18C11.375 18.6213 11.8787 19.125 12.5 19.125C13.1213 19.125 13.625 18.6213 13.625 18C13.625 17.3787 13.1213 16.875 12.5 16.875C11.8787 16.875 11.375 17.3787 11.375 18Z" fill="#434345" />
                    <path d="M11.375 6C11.375 6.62132 11.8787 7.125 12.5 7.125C13.1213 7.125 13.625 6.62132 13.625 6C13.625 5.37868 13.1213 4.875 12.5 4.875C11.8787 4.875 11.375 5.37868 11.375 6Z" fill="#434345" />
                </svg>
            </div>
            <div class="bookingstatus-body">
                <div class="bookingstatus-title">Total Tickets Sold</div>
                <h6 class="bookingstatus-stats">45,000</h6>
            </div>
        </div>
        <div class="bookingstatus-card">
            <div class="bookingstatus-icon">
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6665 5.5C12.0462 5.5 12.354 5.8078 12.354 6.1875V7.5625C12.354 7.9422 12.0462 8.25 11.6665 8.25C11.2868 8.25 10.979 7.9422 10.979 7.5625V6.1875C10.979 5.8078 11.2868 5.5 11.6665 5.5Z" fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6665 13.75C12.0462 13.75 12.354 14.0578 12.354 14.4375V15.8125C12.354 16.1922 12.0462 16.5 11.6665 16.5C11.2868 16.5 10.979 16.1922 10.979 15.8125V14.4375C10.979 14.0578 11.2868 13.75 11.6665 13.75Z" fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6665 3.4375C7.48985 3.4375 4.104 6.82335 4.104 11C4.104 15.1767 7.48985 18.5625 11.6665 18.5625C15.8432 18.5625 19.229 15.1767 19.229 11C19.229 6.82335 15.8432 3.4375 11.6665 3.4375ZM2.729 11C2.729 6.06396 6.73046 2.0625 11.6665 2.0625C16.6025 2.0625 20.604 6.06396 20.604 11C20.604 15.936 16.6025 19.9375 11.6665 19.9375C6.73046 19.9375 2.729 15.936 2.729 11Z" fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6353 8.25C10.3617 8.25 10.0994 8.35865 9.90605 8.55205C9.71265 8.74544 9.604 9.00775 9.604 9.28125C9.604 9.55475 9.71265 9.81706 9.90605 10.0105C10.0994 10.2039 10.3617 10.3125 10.6353 10.3125H12.6978C13.3359 10.3125 13.948 10.566 14.3992 11.0173C14.8505 11.4685 15.104 12.0806 15.104 12.7188C15.104 13.3569 14.8505 13.969 14.3992 14.4202C13.948 14.8715 13.3359 15.125 12.6978 15.125H9.604C9.22431 15.125 8.9165 14.8172 8.9165 14.4375C8.9165 14.0578 9.22431 13.75 9.604 13.75H12.6978C12.9713 13.75 13.2336 13.6414 13.427 13.448C13.6204 13.2546 13.729 12.9923 13.729 12.7188C13.729 12.4452 13.6204 12.1829 13.427 11.9895C13.2336 11.7961 12.9713 11.6875 12.6978 11.6875H10.6353C9.99708 11.6875 9.38504 11.434 8.93378 10.9827C8.48252 10.5315 8.229 9.91943 8.229 9.28125C8.229 8.64307 8.48252 8.03103 8.93378 7.57977C9.38504 7.12851 9.99708 6.875 10.6353 6.875H13.729C14.1087 6.875 14.4165 7.1828 14.4165 7.5625C14.4165 7.9422 14.1087 8.25 13.729 8.25H10.6353Z" fill="white" />
                </svg>
            </div>
            <div class="bookingstatus-dots">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.375 12C11.375 12.6213 11.8787 13.125 12.5 13.125C13.1213 13.125 13.625 12.6213 13.625 12C13.625 11.3787 13.1213 10.875 12.5 10.875C11.8787 10.875 11.375 11.3787 11.375 12Z" fill="#434345" />
                    <path d="M11.375 18C11.375 18.6213 11.8787 19.125 12.5 19.125C13.1213 19.125 13.625 18.6213 13.625 18C13.625 17.3787 13.1213 16.875 12.5 16.875C11.8787 16.875 11.375 17.3787 11.375 18Z" fill="#434345" />
                    <path d="M11.375 6C11.375 6.62132 11.8787 7.125 12.5 7.125C13.1213 7.125 13.625 6.62132 13.625 6C13.625 5.37868 13.1213 4.875 12.5 4.875C11.8787 4.875 11.375 5.37868 11.375 6Z" fill="#434345" />
                </svg>
            </div>
            <div class="bookingstatus-body">
                <div class="bookingstatus-title">Total Earnings</div>
                <h6 class="bookingstatus-stats">$275,450</h6>
            </div>
        </div>
    </header>
    <main class="bookingtable-container">
        <header class="bookingtable-header">

        </header>
        <table class="bookingtable">
            <thead>
                <tr class="header-row">                   
                    <th><div class="tableheader-col"><div>Invoice</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th><div class="tableheader-col"><div>Date</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th class="name-col"><div class="tableheader-col"><div>Name</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th><div class="tableheader-col"><div>Event</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th class="category-col"><div class="tableheader-col"><div>Ticket Category</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th class="price-col"><div class="tableheader-col"><div>Price</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th class="qty-col"><div class="tableheader-col"><div>Qty</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th class="ticket-col"><div class="tableheader-col"><div>Ticket</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th class="amount-col"><div class="tableheader-col"><div>Amount</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th><div class="tableheader-col"><div>Status</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                    <th class="voucher-col"><div class="tableheader-col"><div>E-Voucher</div><img src="~/images/icons/Sort.svg" asp-append-version="true" alt="Sort icon" /></div></th>
                </tr>
            </thead>
            <tbody>
                <tr class="body-row">
                    <td class="invoice-desktop-col cell-reference">Invoice</td>
                    <td class="invoice-mobile-col">
                        <div class="bookingtable-multi-cell">
                            <div>Invoice</div>
                            <div class="cell-subrow">Mr. Name</div>
                        </div>
                    </td>
                    <td>
                        <div class="bookingtable-multi-cell">
                            <div>10/21/3000</div>
                            <div class="cell-subrow">10:35 PM</div>
                        </div>
                    </td>
                    <td class="name-col">Mr. Name</td>
                    <td>
                        <div class="bookingtable-multi-cell">
                            <div>Event</div>
                            <div class="cell-subrow">Category</div>
                        </div>
                    </td>
                    <td class="category-col">
                        <div class="bookingticket-category">
                            <div class="category-dot"></div>
                            <div class="category-name">Diamond</div>
                        </div>
                    </td>
                    <td class="price-col">$50</td>
                    <td class="qty-col col-center center">2</td>
                    <td class="ticket-col">
                        <div class="bookingtable-multi-cell">
                            <div class="bookingticket-category">
                                <div class="category-dot"></div>
                                <div class="category-name">Diamond</div>
                            </div>
                            <div class="ticketprice-qty">
                                <div class="cell-subrow">2x</div>
                                <div class="cell-subrow">$50</div>
                            </div>
                        </div>
                    </td>
                    <td class="amount-col">$100</td>
                    <td>
                        <div class="bookingstatus-cell bookingstatus-confirmed">Confirmed</div>
                    </td>
                    <td class="voucher-col cell-reference">-</td>
                </tr>
                <tr class="body-row">
                    <td class="invoice-desktop-col cell-reference">Invoice</td>
                    <td class="invoice-mobile-col">
                        <div class="bookingtable-multi-cell">
                            <div>Invoice</div>
                            <div class="cell-subrow">Mr. Name</div>
                        </div>
                    </td>
                    <td>
                        <div class="bookingtable-multi-cell">
                            <div>10/21/3000</div>
                            <div class="cell-subrow">10:35 PM</div>
                        </div>
                    </td>
                    <td class="name-col">Mr. Name</td>
                    <td>
                        <div class="bookingtable-multi-cell">
                            <div>Event</div>
                            <div class="cell-subrow">Category</div>
                        </div>
                    </td>
                    <td class="category-col">
                        <div class="bookingticket-category">
                            <div class="category-dot"></div>
                            <div class="category-name">Diamond</div>
                        </div>
                    </td>
                    <td class="price-col">$50</td>
                    <td class="qty-col col-center center">2</td>
                    <td class="ticket-col">
                        <div class="bookingtable-multi-cell">
                            <div class="bookingticket-category">
                                <div class="category-dot"></div>
                                <div class="category-name">Diamond</div>
                            </div>
                            <div class="ticketprice-qty">
                                <div class="cell-subrow">2x</div>
                                <div class="cell-subrow">$50</div>
                            </div>
                        </div>
                    </td>
                    <td class="amount-col">$100</td>
                    <td>
                        <div class="bookingstatus-cell bookingstatus-cancelled">Cancelled</div>
                    </td>
                    <td class="voucher-col cell-reference">VOUCHER</td>
                </tr>
                <tr class="body-row">
                    <td class="invoice-desktop-col cell-reference">Invoice</td>
                    <td class="invoice-mobile-col">
                        <div class="bookingtable-multi-cell">
                            <div>Invoice</div>
                            <div class="cell-subrow">Mr. Name</div>
                        </div>
                    </td>
                    <td>
                        <div class="bookingtable-multi-cell">
                            <div>10/21/3000</div>
                            <div class="cell-subrow">10:35 PM</div>
                        </div>
                    </td>
                    <td class="name-col">Mr. Name</td>
                    <td>
                        <div class="bookingtable-multi-cell">
                            <div>Event</div>
                            <div class="cell-subrow">Category</div>
                        </div>
                    </td>
                    <td class="category-col">
                        <div class="bookingticket-category">
                            <div class="category-dot"></div>
                            <div class="category-name">Diamond</div>
                        </div>
                    </td>
                    <td class="price-col">$50</td>
                    <td class="qty-col col-center center">2</td>
                    <td class="ticket-col">
                        <div class="bookingtable-multi-cell">
                            <div class="bookingticket-category">
                                <div class="category-dot"></div>
                                <div class="category-name">Diamond</div>
                            </div>
                            <div class="ticketprice-qty">
                                <div class="cell-subrow">2x</div>
                                <div class="cell-subrow">$50</div>
                            </div>
                        </div>
                    </td>
                    <td class="amount-col">$100</td>
                    <td >
                        <div class="bookingstatus-cell bookingstatus-pending">Pending</div> 
                    </td>
                    <td class="voucher-col cell-reference">-</td>
                </tr>
            </tbody>
        </table>
        <footer class="bookingtable-footer">

        </footer>
    </main>
</div>